.imgbtnL1 {
    width: 90x; 
    height: 90px;
    text-align: center;
}

.imgbtnL2 {
    width: 60px; 
    height: 60px;
    text-align: center;
}

.imgIcon {
    width: 40x;
    height: 40px;
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}